

.navbar-brand{
    font-weight: bold;
}

/* navBar.css */

.bg {
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500; 
    margin: 0 15px;
}

.navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 60%;
    width: 0;
    height: 4px;
    background-color: #ffffff; /* Color de la línea */
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-link:hover:after,
.navbar-nav .nav-link.active:after {
    width: 120%;
    left: -10%;
}
